.mainCompanyPage {
    min-width: 100%;
    min-height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.card-header {
    background-color: rgb(255, 217, 0);
}

.companyPage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
    padding: 0.5rem;
}

.rounded-circle {
    width: 15em;
    height: 15em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    object-fit: contain;
}

.btn {
    background-color: #019cbb;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color:white;
}

.leftSideCompanyPage {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
}

.leftSideCompanyPage ul {
    padding: 0rem;
}

.leftSideCompanyPage h4 {
    margin: 0;
}

.rightSideCompanyPage {
    display: flex;
    flex: 1;
    flex-direction: row;
    border-radius: 10px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 1rem;
    margin: 0.5rem;
    box-sizing: border-box;
}

.topInfo {
    display: flex;
    flex-direction: row;
}

.leftTop {
    flex: 1;
    padding: 0.5rem;
    border-right: 1px solid black;
}

.rightTop {
    flex: 1;
    padding: 0.5rem;
}

.companyName {
    padding: 0.5rem;
    border-radius: 20px;
    background-color: rgb(255, 217, 0);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h5 {
    color: #019cbb;
}
