.viewCompanyPage {
    display: flex;
    background-color: white;
    flex-direction: column;
    min-width: 70%;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.topViewCompanyPage {
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 217, 0);
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border-top-right-radius:10px;
    min-width: 70%;
    padding: 1rem;
}

.topLeftViewCompanyPage {
    display: flex;
    flex: 1;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 0.5rem;
}

.topRightViewCompanyPage {
    display: flex;
    flex: 1;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #019cbb;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 2rem;
    padding: 0.5rem;
}

.rounded-circle {
    width: 10em;
    height: 10em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: white;
    object-fit: contain;
}

.bottomViewCompanyPageContainer1 {
    margin-top: 1rem;
    display:flex;
    padding: 1rem;
    background-color:gainsboro;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}

.bottomViewCompanyPageContainer2 {
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.btn {
    width: 150px;
    margin: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.bottomViewCompanyPageContainer3 {
    display: flex;
    flex-direction: column;
    background-color:gainsboro;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 10px;
}





/* vizualizare pentru telefon */