{% extends 'e_declaratie_html_files/homepage.html' %}
{% load static %}

{% block extra_css %}
    <!--CSS style-->
    <link rel="stylesheet" href="{% static 'reset_password_css/password_reset_done.css' %}">
{% endblock %}

{% block content %}
    <div class="resetPassDoneContainer">
        <div class="resetPassDoneTitle">
            <h3>Password reset sent<h3>
        </div>
        <div class="resetPassDoneText">
            <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.<p>
            <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
        </div>
    <!--Bootstrap JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    
{% endblock %}