{% extends 'e_declaratie_html_files/homepage.html' %}
{% load static %}

{% block extra_css %}
    <!--CSS style-->
    <link rel="stylesheet" href="{% static 'company_lists_css/companieslistpage.css' %}">
{% endblock %}

{% block content %}
    <div class="companiesListPage">
        <nav>
            <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-all_companies-tab" data-bs-toggle="tab" data-bs-target="#nav-all_companies" type="button" role="tab" aria-controls="nav-all_companies" aria-selected="true">
                    Lista firme <!--All companies-->
                </button>
                <button class="nav-link" id="nav-favorite_companies-tab" data-bs-toggle="tab" data-bs-target="#nav-favorite_companies" type="button" role="tab" aria-controls="nav-favorite_companies" aria-selected="true">
                    Firmele favorite <!--Favorite companies-->
                </button>
                <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">
                    Firmele online <!--Online companies-->
                </button>
                <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">
                    Firmele offline <!--Offline companies-->
                </button>
                <button class="nav-link" id="nav-search_company-tab" data-bs-toggle="tab" data-bs-target="#nav-search_company" type="button" role="tab" aria-controls="nav-search_company" aria-selected="false">
                    Cauta firma <!--Search company-->
                </button>
            </div>
        </nav>
            <div class="tab-content" id="nav-tabContent">
                <!--All companies tab-->
                <div class="tab-pane fade show active" id="nav-all_companies" role="tabpanel" aria-labelledby="nav-all_companies-tab" tabindex="0">
                    <!--all_companies from def company_lists-->
                    {% for company in all_companies %}
                        <div class="card mb-1">
                            <div class="row g-0">
                                <div class="col-md-1">
                                    {% if company.company_logo %}
                                        <img class="companyLogo img-fluid rounded" src="{{ company.company_logo.url }}" loading="lazy">
                                    {% else %}
                                        <img class="companyLogo img-fluid rounded" src="/static/images/defaultCompanyLogo.png" loading="lazy">
                                    {% endif %}
                                </div>
                                <div class="col-md-11">
                                    <div class="card-body">
                                        <span>{{ company.company_name }}</span>
                                        <a class="btn btn-sm" href="{% url 'company_view_profile' company.company_name %}">
                                            Profil firma <!--View profile-->
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!--All favorite companies-->
                <div class="tab-pane fade" id="nav-favorite_companies" role="tabpanel" aria-labelledby="nav-favorite_companies-tab" tabindex="0">
                    {% for company in favorite_companies %}
                        <div class="card mb-1">
                            <div class="row g-0">
                                <div class="col-md-1">
                                    {% if company.company_logo %}
                                        <img class="companyLogo img-fluid rounded" src="{{ company.company_logo.url }}" loading="lazy">
                                    {% else %}
                                        <img class="companyLogo img-fluid rounded" src="/static/images/defaultCompanyLogo.png" loading="lazy">
                                    {% endif %}
                                </div>
                                <div class="col-md-11">
                                    <div class="card-body">
                                        <span>{{ company.company_name }}</span>
                                        <a class="btn btn-sm" href="{% url 'company_view_profile' company.company_name %}">
                                            Profil firma <!--View profile-->
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <!--Online companies-->
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                    Pagina in constructie <!--page under maintenance-->
                </div>
                <!--Offline companies-->
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
                    Pagina in constructie <!--page under maintenance-->
                </div>
                <!--Search company tab-->
                <div class="tab-pane fade" id="nav-search_company" role="tabpanel" aria-labelledby="nav-search_company-tab" tabindex="0">
                    <div class="container-fluid">
                        Pagina in constructie <!--page under maintenance-->
                        {% comment %} <div class="d-flex">
                            <form class="d-flex col-4" role="search" method="GET" action="#">
                                <input class="form-control me-2" type="search" name="companyname" placeholder="Cauta firma" aria-label="Search">
                                <button class="btn" type="submit">Cauta</button>
                            </form>
                        </div> {% endcomment %}
                    </div>
                </div>
            </div>
        
    </div>
    <!--Bootstrap JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

{% endblock %}