.mainCompanyPage {
    min-width: 60%;
    min-height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background-color: rgb(255, 255, 255, 0.9);
}

.card-header {
    background-color: rgb(220, 220, 220, 0.7);
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.5rem;
}

.container-fluid img {
    min-width: 10px;
    min-height: 10px;
    width: 150px;
    height: 150px;
    object-fit: contain;
    background-color: white;
}

.btn {
    background-color: rgba(1, 156, 187, 1);
    border-radius: 15px;
    color:white;
    box-shadow: 0 0 5px rgba(1, 156, 187, 1);
}

.nav-item .nav-link.active {
    background-color: rgb(255, 255, 255, 0.8);
    border-color:rgb(220, 220, 220, 1);
}
