.mainCompanyPage {
    min-width: 100%;
    min-height: 100vh;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background-color: rgb(255, 255, 255, 0.9);
    
}
.card-header {
    background-color: rgb(220, 220, 220, 0.7);
}

.nav-item .nav-link.active {
    background-color: rgb(255, 255, 255, 0.8);
    border-color:rgb(220, 220, 220, 1);
}

.btnContainer {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.btn {
    background-color: rgba(1, 156, 187, 1);
    border-radius: 15px;
    color:white;
    box-shadow: 0 0 5px rgba(1, 156, 187, 1);
}

.delete {
    background-color: #ff0000;
    border-radius: 15px;
    color:white;
    box-shadow: 0 0 5px #ff0000;
}



