{% extends 'e_declaratie_html_files/homepage.html' %}
{% load static %}


{% block content %}
    <div class="viewCompanyPage">
        <div class="topViewCompanyPage">
            <div class="topLeftViewCompanyPage">
                <img class="img-fluid rounded-circle" src="{% static 'images/defaultCompanyLogo.png' %}" alt="Company Logo"> <!--img fluid nu lasa cercul sa iasa din div-->
            </div>
            <br>
            <div class="topRightViewCompanyPage">
                <h3><strong>{{ company.company_name }}</strong></h3>
            </div>
        </div>
        <div class="bottomViewCompanyPageContainer1">
            <!--company from def company_view_profile-->
            {% if company.managers.count == 1 %}
                <span><strong>The manager of this company is:</strong>
                    <ul>
                        {% for manager in company.managers.all %}
                        <li>
                            <a href="{% url 'user_view_profile' manager.username%}">{{manager.username}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </span>
            {% elif company.managers.count > 1 %}
                <span><strong>The managers of this company are:</strong>
                    <ul>
                        {% for manager in company.managers.all %}
                        <li>
                            <a href="{% url 'user_view_profile' manager.username%}">{{manager.username}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </span>
            {% else %}
                <span><strong>No company to manage</strong>
            {% endif %} 
        </div>
        <div class="bottomViewCompanyPageContainer2">
            <div class="leftbtn">
                    <form method = "POST">
                        {% csrf_token %}
                        {% if company in current_user_profile.favorite_company.all %}
                            <button class="btn btn-sm btn-warning" type="submit" name="follow" value="unfollow">Unfollow</button>
                        {% else %}
                            <button class="btn btn-sm btn-success" type="submit" name="follow" value="follow">Follow</button>
                        {% endif %}
                    </form>
            </div>
            <div class="middlebtn">
                <span><a class="btn btn-sm btn-primary" href="#">Manager request</a></span>
            </div>
            <div class="rightbtn">
                <span><a class="btn btn-sm btn-danger" href="#">Report</a></span>
            </div>
        </div>
        <div class="bottomViewCompanyPageContainer3">
            <h3><strong>User Info</strong></h3>
            <ul>
                <li><span><strong>Name</strong> {{company.company_name}}</span></li>
                <li><span><strong>Email:</strong> {{company.company_email}}</span></li>
                <li><span><strong>Unic:</strong> {{company.company_cui}}</span></li>
                <li><span><strong>Register number:</strong> {{company.company_register_number}}</span></li>
                <li><span><strong>Address:</strong> {{company.company_address}}</span></li>
                <li><span><strong>City:</strong> {{company.company_city}}</span></li>
                {% if company.contact_person_phone %}
                    <li><span><strong>Contact:</strong> {{company.contact_person_phone}}</span></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <!--CSS-->
    <link rel="stylesheet" href="{% static 'company_css/viewcompanypage.css' %}">
{% endblock %}