.deleteManager {
    display: flex;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: fit-content;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.btn {
    background-color: rgba(0, 118, 141);
    border-radius: 5px;
    color:white;
    box-shadow: 0 0 5px rgba(0, 118, 141);
    margin: 1rem;
}

.delete {
    background-color: #ff0000;
    border-radius: 5px;
    color:white;
    box-shadow: 0 0 5px #ff0000;
}

.titleEdit {
    width: 100%;
    border-radius: 10px;
    padding: 0.5rem;
    text-align: center;
    background-color: rgba(0, 118, 141);
    color: white;
}

h2 {
    margin-bottom: 0;
    padding: 1rem;
}

.errorlist {
    text-align: center;
    max-width:299px;
    padding: 0.5rem;
    background-color: #f44336b4; 
    color: white;
    margin-bottom: 15px;
    border-radius: 4px;
}