.registerUserForm {
    display: flex;
    background-color: rgb(255, 255, 255, 0.9);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.titleEdit {
    color: rgba(1, 156, 187, 1);
    font-size: 2rem;
    margin-bottom: 2rem;
}

.btn {
    background-color: rgba(1, 156, 187, 1);
    border-radius: 15px;
    color:white;
    box-shadow: 0 0 5px rgba(1, 156, 187, 1);
    margin: 1rem;
}

/* adding style for forms.ValidationError */
.errorlist {
    text-align: center;
    max-width:299px;
    padding: 0.5rem;
    background-color: #f44336b4; 
    color: white;
    margin-bottom: 15px;
    border-radius: 4px;
}



