@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.wrapper {
    display: flex;
    overflow-y: auto;
    overflow-x: auto;
    /* background-image: url(../images/mainwebpage1.jpg); */
    background-color:lightgray;
    background-position: center;
    background-size: cover;
}

li {
    list-style: none;
}

ul {
    margin-bottom: 0; /* scoate spatiul de la lista */
}

a {
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow: auto;
}

hr {
    margin: 0 auto; /* pune linia in mijloc */
    width: 80%; /* lungimea liniei */
    color: white; 
}

.sidebar {
    display: flex;
    width: 220px; 
    min-width: 220px; 
    transition: all 0.5s ease-in-out; /* face tranzitia cand trecem cu cursorul peste acel buton */
    background-color:rgba(0, 118, 141);
    flex-direction: column;
}

.sidebar-logo {
    margin: auto; 
    padding: 1.5rem;
}

.sidebar-logo span {
    white-space: nowrap;
    color: white;
}

.sidebar-nav {
    padding: 1rem 0; /* space between buttons */
}

a.sidebar-link {
    padding: 0.5rem 0.9rem;
    color: white;
    display: block;
    font-size: 1.0rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
    transition: all 0.5s ease-in-out;
}

a.sidebar-link:hover {
    background-color: rgba(253, 251, 251, 0.3); /* face ca butonul sa devina transparent cand trecem cu cursorul peste el */
    border-left: 3px solid white;
}

.dropdown-menu {
    padding: 0rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background-color:rgba(0, 118, 141);
}

.sidebar-item {
    position: relative; 
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

.sidebar-nav:last-child {
    margin-top: auto;
}

.mainPage {
    background-color: whitesmoke;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    flex-wrap: wrap;
}

