@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.wrapper {
    display: flex;
    overflow-y: auto;
    overflow-x: auto;
    background-image: url(../images/mainwebpage1.jpg);
    background-position: center;
    background-size: cover;
}

li {
    list-style: none;
}

ul {
    margin-bottom: 0; /* scoate spatiul de la lista */
}

a {
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow: auto;
}

hr {
    margin: 0 auto; /* pune linia in mijloc */
    width: 80%; /* lungimea liniei */
    color: black; 
}

.sidebar {
    display: flex;
    width: 180px; 
    min-width: 180px; 
    transition: all 0.5s ease-in-out; /* face tranzitia cand trecem cu cursorul peste acel buton */
    background-color: rgb(255, 255, 255, 0.95); /* face transparenta la sidebar */
    flex-direction: column; 
    border-right: 1px solid rgba(0, 0, 0, 0.3); /* face un border la dreapta */
    margin:0.5rem;
    border-radius: 10px;
}

.sidebar-logo {
    margin: auto; /* pune logo-ul in mijloc */
    padding: 1.5rem 1.5rem; /* spatiul dintre logo si margini */
}

.sidebar-logo span {
    white-space: nowrap; /* face ca textul sa nu se mute pe linie noua */
    color: black;
}

.sidebar-nav {
    padding: 1rem 0; /* spatiul dintre butoane */
}

a.sidebar-link {
    padding: 0.5rem 0.9rem;
    color: black;
    display: block;
    font-size: 1.0rem;
    white-space: nowrap;
    border-left: 3px solid transparent; /* face un border la stanga si ajuta pe a.sidebar-link:hover*/
    transition: all 0.5s ease-in-out; /* face tranzitia cand trecem cu cursorul peste acel buton */
}

a.sidebar-link:hover {
    background-color: rgba(0, 0, 0, 0.3); /* face ca butonul sa devina transparent cand trecem cu cursorul peste el */
    border-left: 3px solid black;
}

.dropdown-menu {
    padding: 0rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.sidebar-item {
    position: relative; 
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

.sidebar-nav:last-child {
    margin-top: auto;
}

.mainPage {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:transparent;
    width: 100%;
    min-height: 100vh;
    padding: 1rem;
    flex-wrap: wrap;
}

.edeclarationPage {
    display: flex;
    min-width: 100%;
    min-height: 100%;
    background-color: transparent;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.msg {
    min-width: 100%;
    height: 6rem;
    margin-bottom: 1rem;
}

.LogoTitleSlogan {
    flex-grow: 1;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}