.updateUserInfo {
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    padding: 1rem 2rem;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.titleEdit {
    color: #019cbb;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.btn {
    background-color: #019cbb;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color:white;
    margin: 1rem;
}

.btnContainer {
    display: flex;
    justify-content: center;
}