.deleteContainer {
    display: flex;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.titleEdit {
    width: 100%;
    border-radius: 5px;
    padding: 0.5rem;
    text-align: center;
    background-color: rgba(0, 118, 141);
    color: white;
}

.btn {
    background-color: rgba(0, 118, 141);
    border-radius: 5px;
    color:white;
    box-shadow: 0 0 5px rgba(0, 118, 141);
    margin: 1rem;
}

.delete {
    background-color: #ff0000;
    border-radius: 5px;
    color:white;
    box-shadow: 0 0 5px #ff0000;
}