{% extends 'e_declaratie_html_files/homepage.html' %}
{% load static %}

{% block extra_css %}
    <!--CSS style-->
    <link rel="stylesheet" href="{% static 'company_css/deletemanagerpage.css' %}">
{% endblock %}

{% block content %}
    <!--deleteManager from def delete_manager-->
    <div class="deleteManager">
        <!--title-->
        <div class="titleEdit mb-3 text-center">
            <h2>Sterge manager</h2>
        </div>
        <!--form-->
        <form method="POST" action="{% url 'delete_manager' get_company_name.company_name %}"> <!--get_company_name used also in def delete_manager-->
            {% csrf_token %}
            {{ form.as_p }}
            <div class="text-center">
                <a type="button" class="btn btn-sm" href="{% url 'company_profile' get_company_name.company_name %}">Inapoi</a>
                <button type="submit" class="btn btn-sm delete">Sterge</button>
            </div>
        </form>
    </div>

    <!--Bootstrap JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

{% endblock %}