{% extends 'e_declaratie_html_files/homepage.html' %}
{% load static %}


{% block content %}
    <div class="usersListPage">
        <nav>
            <div  class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-all_users-tab" data-bs-toggle="tab" data-bs-target="#nav-all_users" type="button" role="tab" aria-controls="nav-all_users" aria-selected="true">
                    All users
                </button>
                <button class ="nav-link" id="nav-favorite_users-tab" data-bs-toggle="tab" data-bs-target="#nav-favorite_users" type="button" role="tab" aria-controls="nav-favorite_users" aria-selected="true">
                    Favorite users
                </button>
                <button class="nav-link" id="nav-online_users-tab" data-bs-toggle="tab" data-bs-target="#nav-online_users" type="button" role="tab" aria-controls="nav-online_users" aria-selected="false">
                    Online users
                </button>
              <button class="nav-link" id="nav-offline_users-tab" data-bs-toggle="tab" data-bs-target="#nav-offline_users" type="button" role="tab" aria-controls="nav-offline_users" aria-selected="false">
                    Offline users
                </button>
            </div>
        </nav>

        <div class="tab-content" id="nav-tabContent">
            <!--All users tab-->
            <div class="tab-pane fade show active" id="nav-all_users" role="tabpanel" aria-labelledby="nav-all_users-tab" tabindex="0">
                <!--all_users from def users_list-->
                {% for users in all_users %}
                    <div class="card mb-1">
                        <div class="row g-0">
                            <div class="col-md-1">
                                <img src="/static/images/defaultprofilepic.jpg" class="profilePicture img-fluid rounded">
                            </div>
                            <div class="col-md-11">
                                <div class="card-body">
                                    <span>{{ users.username }}</span>                           
                                        <a class="btn btn-sm btn-outline-light" href="{% url 'user_view_profile' users.username %}">
                                        View profile
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!--All favorite users tab-->
            <div class="tab-pane fade" id="nav-favorite_users" role="tabpanel" aria-labelledby="nav-favorite_users-tab" tabindex="0">
                <!--favorite_users from def users_list-->
                {% for users in all_favorite_users %}
                    <div class="card mb-1">
                        <div class="row g-0">
                            <div class="col-md-1">
                                <img src="/static/images/defaultprofilepic.jpg" class="profilePicture img-fluid rounded">
                            </div>
                            <div class="col-md-11">
                                <div class="card-body">
                                    <span>{{ users.username}}</span>
                                    <a class="btn btn-sm btn-outline-light" href="{% url 'user_view_profile' users.username %}">
                                        View profile
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="tab-pane fade" id="nav-online_users" role="tabpanel" aria-labelledby="nav-online_users-tab" tabindex="0">
                page under maintenance
            </div>
            <div class="tab-pane fade" id="nav-offline_users" role="tabpanel" aria-labelledby="nav-offline_users-tab" tabindex="0">
                page under maintenance
            </div>
        </div>
    </div>
    
    <!--Bootstrap JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <!--CSS style-->
    <link rel="stylesheet" href="{% static 'user_css/userslistspage.css' %}">
{% endblock %}