{% extends 'e_declaratie_html_files/homepage.html' %}
{% load static %}

{% block extra_css %}
    <!--CSS style-->
    <link rel="stylesheet" href="{% static 'user_css/userprofile.css' %}">
{% endblock %}

{% block title %}User profile{% endblock %}

{% block content %}
    <div class="card mainUserProfile">
        <!--header-->
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="true">Profilul meu</a>
                </li>
            </ul>
        </div>
        <!--messages-->
        <div class="text-center">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-dismissible fade show m-0
                                {% if message.tags == 'success' %} 
                                    alert-success
                                {% elif message.tags == 'warning' %}
                                    alert-warning
                                {% elif message.tags == 'error' %}
                                    alert-danger
                                {% endif %}" alert-info role=" alert">
                        <span>{{ message }}</span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <!--body-->
        <div class="card-body userProfile">
            <!--left side-->
            <div class="leftSideUserPage">
                <!--Profile picture-->
                <div class="imgContainer">
                    {% if extra_info.user_pic %}
                        <img class="rounded-circle img-fluid" src="{{ extra_info.user_pic.url }}" loading="lazy">
                    {% else %}
                        <img class="rounded-circle img-fluid" src="{% static 'images/defaultprofilepic.jpg' %}" loading="lazy">
                    {% endif %}
                </div>
                <br>
                <!--User full name-->
                <h4 class="userFullName">{{ the_user_name.first_name }} {{ the_user_name.last_name}}</h4>
                <br>
                <!--User companies-->
                <!--the_user_name from def user_profile-->
                {% if the_user_name.companies.exists %}
                    {% if the_user_name.companies.count == 1 %}
                        <ul>Esti managerul companiei:
                            {% for company in the_user_name.companies.all %}
                                <li>
                                    <a style="color:#019cbb" href="{% url 'company_profile' company.company_name %}">{{ company }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <ul>Esti managerul companiilor:
                            {% for company in the_user_name.companies.all %}
                                <li>
                                    <a style="color:#019cbb" href="{% url 'company_profile' company.company_name %}">{{ company }}</a>
                                </li>
                            {% endfor %}
                        </ul>   
                    {% endif %}
                {% else %}
                {% endif %}
            </div>
            <!--right side-->
            <div class="rightSideUserPage">
                <div class="leftUserEdit">
                    <div class="mb-3">
                    <h5 class="mb-0">Utilizator:</h5>
                        <span >{{ the_user_name.username }}<span>
                    </div>
                    <div class="mb-3">
                    <h5 class="mb-0">Nume:</h5>
                        <span>{{ the_user_name.first_name }}<span>
                    </div>
                    <div class="mb-3">
                    <h5 class="mb-0">Prenume:</h5>
                        <span>{{ the_user_name.last_name }}</span>
                    </div>
                    <div>
                    <h5 class="mb-0">Email:</h5>
                        <span>{{ the_user_name.email }}</span>
                    </div>
                </div>
            </div>
        </div>
        <!--footer-->
        <div class="card-footer d-flex justify-content-between">
            <div>
                <a type="submit" class="btn btn-sm" href="{% url 'update_user_info' request.user.username %}">Editeaza cont</a>
                <a type="submit" class="btn btn-sm" href="{% url 'change_pass' request.user.username %}">Schimba parola</a>
            </div>
            <div>
                <a type="submit" class="btn btn-sm delete" href="{% url 'delete_user_account' request.user.id %}" >Sterge cont</a>
            </div>
        </div>
    </div>

    <!--Bootstrap JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
{% endblock %}