{% extends 'e_declaratie_html_files/homepage.html' %}
{% load static %}


{% block content %}
    <div class="viewProfilePage">
        <div class="topViewProfilePage">
            <div class="topLeftViewProfilePage">
                <h3><strong>{{view_user.first_name}} {{view_user.last_name}}</strong></h3>
            </div>
            <br>
            <div class="topRightViewProfilePage">
                {% if extra_view_user_info.user_pic %}
                    <img class="rounded-circle img-fluid" src="{{ extra_view_user_info.user_pic.url }}" loading="lazy"> <!--img fluid nu lasa cercul sa iasa din div-->
                {% else %}
                    <img class="rounded-circle img-fluid" src="{% static 'images/defaultprofilepic.jpg' %}" loading="lazy">
                {% endif %}
            </div>
        </div>
        <div class="bottomViewProfilePageContainer1">
            <!--view_user from def user_view_profile-->
            {% if view_user.companies.count == 1 %}
                <ul>
                    <span><strong>Manager at the company:</strong></span>
                    {% for company in view_user.companies.all %}
                        <li>
                            <a href="{% url 'company_view_profile' company.company_name %}">{{company.company_name}}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% elif view_user.companies.count > 1 %}
                <ul>
                    <span><strong>Manager at the companies:</strong></span>
                    {% for company in view_user.companies.all %}
                        <li>
                            <a href="{% url 'company_view_profile' company.company_name %}">{{company.company_name}}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <span><strong>He does not manage any company</strong></span>
            {% endif %} 
        </div>
        <div class="bottomViewProfilePageContainer2">
            <div class="leftbtn">
                <form method = "POST">
                    {% csrf_token %}
                    {% if view_user in current_user_profile.favorite_user.all %}
                        <button class="btn btn-sm btn-warning" type="submit" name="follow" value="unfollow">Unfollow</button>
                    {% else %}
                        <button class="btn btn-sm btn-success" type="submit" name="follow" value="follow">Follow</button>
                    {% endif %}
                </form>
            </div>
            <div class="rightbtn">
                <a class="btn btn-sm btn-danger" href="#">Report</a>
            </div>
        </div>
        <div class="bottomViewProfilePageContainer3">
            <h3><strong>User Info</strong></h3>
            <ul>
                <li><span><strong>Username:</strong> {{view_user.username}}</span></li>
                <li><span><strong>First Name:</strong> {{view_user.first_name}}</span></li>
                <li><span><strong>Last Name:</strong> {{view_user.last_name}}</span></li> 
                <li><span><strong>Email:</strong> {{view_user.email}}</span></li>
                {% if extra_view_user_info.date_of_birth%}
                    <li><span><strong>Date of birth:</strong> {{extra_view_user_info.date_of_birth}}</span></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <!--CSS-->
    <link rel="stylesheet" href="{% static 'user_css/viewprofilepage.css' %}">
{% endblock %}