.mainCompanyPage {
    min-width: 75%;
    min-height: 75%;
}

.card-header {
    background-color: rgba(0, 118, 141);
}

.companyPage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.5rem;
}

.rounded-circle {
    width: 13em;
    height: 13em;
    box-shadow: 0 0 10px rgba(0, 118, 141);
    object-fit: contain;
    background-color: white;
}

.btn {
    background-color: rgba(0, 118, 141);
    border-radius: 5px;
    color:white;
    box-shadow: 0 0 5px rgba(0, 118, 141);
}

.delete {
    background-color: #ff0000;
    border-radius: 5px;
    color:white;
    box-shadow: 0 0 5px #ff0000;
}

.leftSideCompanyPage {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
    
}

.leftSideCompanyPage ul {
    padding: 0rem;
}

.leftSideCompanyPage h4 {
    margin: 0;
}

.rightSideCompanyPage {
    display: flex;
    flex: 1;
    flex-direction: row;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 118, 141);
    padding: 1rem;
    margin: 0.5rem;
    box-sizing: border-box;
}

.topInfo {
    display: flex;
    flex-direction: row;
}

.leftTop {
    flex: 1;
    padding: 0.5rem;
}

.companyName {
    padding: 0.5rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 118, 141);
}

h5 {
    color: rgba(1, 156, 187);
}

.nav-item .nav-link.active {
    background-color: rgb(255, 255, 255);
}

.card-footer {
    background-color: white;
}
